body{
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    font-family: "Roboto","Arial","Times New Roman";
}


.header ul{
    
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    font-size: 18px;
    list-style-type: none; 
    padding: 8px; 
    margin: 0; 
    flex:1;


}

.info-title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}



.header-logo{
    font-weight: bold;
    
}

.header-links{
    gap:16px;
    font-size: 14px;
}



.header-logo,.header-links{
    display: flex;
   

}

.header-mid,.header{
    
    color: #F9FAF8;
    display: flex;
    
    
}

.header-mid{
    margin-bottom: 16px;
    justify-content: center;
    padding:50px;
    gap:24px;
}


.header-mid-left{
    max-width: 400px;
    display: flex;
    flex-direction: column;
}


.header-mid-right{
    display: flex;
    background-color: grey;
    padding:50px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    margin-top: 24px;
}


.header-mid button{
    
    background-color: rgb(60, 138, 228);
    border: solid rgb(60, 138, 228);
    border-radius: 8px;
    color:white;
    width:100px;
    height: 30px;
    
}


.ad-container{
    background-color: white;
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: center;
    color:white;
}

.ad button{
    flex-shrink: 0;
    color:white;
    border-radius: 8px;
    border:solid white 1px;
    background-color: rgb(65, 118, 218);
    width:100px;
    height: 30px;

}

.ad{
    padding: 42px;
    gap:50px;
    border-radius: 10px;
   
}

.ad,.ad-left,.ad-right{
    background-color: rgb(65, 118, 218);
    display: flex;
}

.ad-left{
    flex-direction: column;
}

.ad-title{

    font-weight: bold;

}


.info{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    padding-top: 36px;
    padding-bottom: 50px;
}



.items{
    
    display: flex;
    justify-content: center;
    gap:16px;
    padding: 24px;
}

.item{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 200px;
}





.container{
    border: solid rgb(66, 118, 216);
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    margin-bottom: 8px;
    margin-left: 24px;
}



.quote{
    display: flex;
    align-items: center;
    padding: 50px;
    color: #1F2937;
    background-color: #E5E7EB;
    flex-direction: column;
    
}

.quote-name{
    font-weight: bold;
    justify-content: flex-end;
    font-size: 18px;
    display: flex;
    width:550px;

}

.quote-text{
    font-style: italic;
    font-size: 24px;
    display: flex;
    max-width: 550px;

    
}

.footer{
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}







